---
import GoogleAnalyticsScript from '../components/analytics/GoogleAnalyticsScript.astro';
interface Props {
  title?: string;
  description?: string;
  keywords?: any;
}

const { title, description, keywords } = Astro.props;
import site from '../_data/site.json';
import '../styles/layout/base.scss';
import { getScriptUrl, getFallbackScriptUrl, getThemeCssUrl } from '../_data/utils.ts';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);


const isProd = import.meta.env.PROD;

function getKeywords() {
  if (keywords) {
    return Astro.props.title + ', ' + keywords;
  } else {
    return Astro.props.title;
  }
}

function getPageTitle() {
  if (title) {
    return `${title}  &middot; ${site.title}`;
  } else {
    return `${site.title} &middot; ${site.tagline}`;
  }
}
---

<!DOCTYPE html>
<html lang='en'>
<head>
  <!-- Title -->
  <title set:html={getPageTitle()}></title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8"/>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <link rel='canonical' href={canonicalURL} />

  <!-- Author Meta Tags -->
  <meta name='author' content={site.author} />
  <meta name='copyright' content={`(c) ${new Date().getFullYear()} ${site.author}`} />

  <!--  Meta tags -->
  <meta name='keywords' content={getKeywords()} />
  <meta name='description' content={description ? description : site.description} />

  <!-- Favicon -->
  <link rel='shortcut icon' href='/favicon.svg' />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />


  <style>
    body {
      background: var(--color-surface-container-highest);
      color: var(--color-on-surface);
    }
  </style>

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Pacifico&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- Peacock styles -->
  {isProd ?
    (
    <link href={getThemeCssUrl()} rel="stylesheet" />
    )
    :
    (
    <link href="/assets/peacock/assets/styles.css" rel="stylesheet" />
    )
  }

</head>
<body>

<slot />

<!-- GoatUI scripts -->
{isProd ?
  (
  <script
      type="module"
      src={getScriptUrl()}
      onerror={`let s=document.createElement('script'); s.type='module'; s.src='${getFallbackScriptUrl()}'; document.head.appendChild(s);`}>
      </script>
  )
  :
  (
  <script
      type="module"
      src="/assets/peacock/loader.js"></script>
  )
}


<GoogleAnalyticsScript/>
</body>
</html>
