---
import SideNavigation from '../components/SideNavigation.astro';
interface Props {
  title?: string;
  description?: string;
  root?: boolean;
  keywords?: string;
  classes?: string;
}

const { title, root, description, keywords, classes } = Astro.props;

import Layout from './Base.astro';
import site from '../_data/site.json';
import componentsDetails from '../_data/componentsDetails.json';
import '../styles/default.layout.scss';

const searchItems = componentsDetails.components.map(component => ({
  label: component.metadata.label,
  value: component.metadata.name
}));
---

<Layout title={title} description={description} keywords={keywords}>
  <div class="page">
    <div class='side-navigation-container'>
      <SideNavigation/>
    </div>

    <div class="page-context-wrapper">
      <!--<nav class="top-nav">
        <goat-header color="white" dark-mode-color="black" class={`header ${!root ? 'border' : ''}`}>
          <div slot="left">
            <goat-header-brand logo="/assets/img/logo-plain.png" href="/#" name={site.title}></goat-header-brand>

          </div>

          <div slot="right">

            <pc-button color="primary" size="sm" variant="simple" target="_blank" class="hide-tablet-portrait-below sponsor-btn" href="https://github.com/sponsors/shivajivarma">
              Sponsor
            </pc-button>

            <pc-divider class="header-divider hide-tablet-portrait-below" vertical></pc-divider>

            <goat-header-action icon="github" aria-label="View Github" href={`https://github.com/${site.github_username}/${site.github_project}`} target="_blank"
            ></goat-header-action>

            <goat-header-action class="show-tablet-portrait-below" aria-label="Menu" id="header-menu-btn" icon="menu"></goat-header-action>
          </div>
        </goat-header>
      </nav>-->

      <div id="header-menu">
        <div class="header-menu-head">
          <pc-button id="header-menu-close-btn" variant="text" icon="close" color="secondary" size="lg" dark-mode-color="white" aria-label="Close menu"></pc-button>
        </div>

        <pc-menu class="header-menu-list no-border">
          <pc-menu-item href="/components#">
            <p-icon name="roadmap" slot="start" size="sm"></p-icon>&nbsp; Components
          </pc-menu-item>
          <pc-menu-item href="/blog#">
            <p-icon name="blog" slot="start" size="sm"></p-icon>&nbsp; Blog
          </pc-menu-item>
          <pc-menu-item href="https://github.com/sponsors/shivajivarma" target="_blank" icon="roadmap">
            <p-icon name="currency--rupee" slot="start" size="sm"></p-icon>&nbsp; Sponsor
          </pc-menu-item>
        </pc-menu>
      </div>

      <main class={classes}>
        <slot />
      </main>
    </div>
  </div>

  <div slot="page-end">
    <!-- Scripts -->
    <script src="/assets/js/main.js" is:inline></script>
  </div>

  <div id="search-header-container">
    <div id="search-container-overlay"></div>
    <goat-select id="site-search" search="contains" layer="01" hide-dropdown-icon placeholder="Type '/' for search">
      <p-icon slot="start" name="search"></p-icon>
    </goat-select>
  </div>

  <script is:inline define:vars={{ searchItems }}>
    document.addEventListener('DOMContentLoaded', function () {
      const searchBtn = document.querySelector('#search-btn');
      const searchContainerOverlay = document.querySelector('#search-container-overlay');
      const search = document.querySelector('#site-search');

      searchBtn.addEventListener('click', function () {
        openSearchContainer();
      });

      searchContainerOverlay.addEventListener('click', function () {
        const searchContainer = document.querySelector('#search-header-container');
        searchContainer.removeAttribute('open');
      });

      if (search) {
        // prettier-ignore
        search.items = searchItems;
        search.items = search.items.filter(item => !!item.label);
        search.addEventListener('goat-select--change', function (e) {
          window.location.href = '/components/' + e.detail.value;
        });

        search.addEventListener('goat-select--enter', function (e) {
          if (e.detail.currentItems.length > 0) window.location.href = '/components/' + e.detail.currentItems[0].value;
        });

        document.addEventListener('keydown', function (e) {
          if (e.key === '/') {
            const path = e.composedPath();
            for (const elm of path) {
              if (elm.tagName === 'GOAT-INPUT' || elm.tagName === 'GOAT-CODE-EDITOR' || elm.tagName === 'GOAT-TEXTAREA' || elm.tagName === 'INPUT') {
                return;
              }
            }
            e.preventDefault();
            openSearchContainer();
          }
        });
      }

      function openSearchContainer() {
        const searchContainer = document.querySelector('#search-header-container');
        searchContainer.toggleAttribute('open');
        setTimeout(() => {
          search.openSelectList();
        }, 300);
      }
    });
  </script>
</Layout>
