---
import { getLitComponentDetails, getTextTag } from '../_data/getLitComponentDetails.ts';
interface Props {
  componentDetails: any;
}

const {componentDetails} = Astro.props;
import Layout from './Default.astro';
import '../styles/component.layout.scss';
import { getCategoriesTree, getComponentDetails } from '../_data/getComponentDetails';
import Footer from '../components/Footer.astro';

const title = getTextTag(componentDetails, '@label');
const description = getTextTag(componentDetails, '@summary');
---

<Layout title={title} description={description} classes='surface'>

  <div class='sidenav m-hide surface' id="component-page">

    <div class='sidenav-components'>

      <pc-tree-view layer='01' value={title} selected-node={title}>
        <pc-tree-node  label="Overview" href='/components'></pc-tree-node>

        {
          getCategoriesTree().map((category) => {
            if (!category.hide) {
              return <pc-tree-node label={category.name}  value={category.name + 'group'}>
                {

                  category.children.map((componentName: any) => {
                    if (typeof componentName === 'string') {
                      const component = getComponentDetails(componentName);
                      if (component?.metadata.name) {
                        return <pc-tree-node label={component?.metadata.label} value={component?.metadata.name}
                                               href={`/components/${component?.metadata.name}/`}></pc-tree-node>
                      }
                    } else if (componentName.children) {
                      return <pc-tree-node label={componentName.name}  value={componentName.name + 'group'}>
                        {
                          componentName.children.map((componentName: any) => {
                            const component = getComponentDetails(componentName);
                            if (component?.metadata.name) {
                              return <pc-tree-node label={component?.metadata.label}  value={component?.metadata.name}
                                                     href={`/components/${component?.metadata.name}/`}></pc-tree-node>
                            }
                          })
                        }
                      </pc-tree-node>
                    }
                  })
                }
              </pc-tree-node>
            }
          })
        }

      </pc-tree-view>

    </div>

  </div>
  <div class='main-content'>
    <pc-container class='page-wrapper'>

      <div class='comp-header'>
        <h1 class='heading-scrollable text-display'>{title}</h1>
        { componentDetails?.stats == 'WIP' ? <pc-tag color='red'>Work in progress</pc-tag>  : '' }
      </div>

      <div class='component-description'>
        <div class='text-title-large'
             set:html={getTextTag(componentDetails, '@overview') ? getTextTag(componentDetails, '@overview') : getTextTag(componentDetails, '@summary')}>

        </div>
      </div>

      <slot/>

    </pc-container>

    <div class='footer container'>
      <pc-divider></pc-divider>
      <Footer/>
    </div>
  </div>


</Layout>
