---
import site from '../_data/site.json';
import Layout from './Default.astro';
interface Props {
  title: any;
  description: string;
}

const {title, description} = Astro.props;
---
<Layout title={title} description={description}  classes='surface'>
<div class='main-content'>

  <pc-container class='page-container'>
    <div class='post-header'>
      <base-breadcrumb>
        <breadcrumb-item href="/">Home</breadcrumb-item>
        <breadcrumb-item href="/blog">Blog</breadcrumb-item>
        <breadcrumb-item active>{title}</breadcrumb-item>
      </base-breadcrumb>

      <pc-text type='heading' heading-size='6'>{title}</pc-text>
    </div>


    <div class='post-body'>

      <div class='post'>
        <slot/>
      </div>

      <div class='side-panel'>

      </div>
    </div>
  </pc-container>
  <pc-container>
    <div class='footer container'>
      <pc-divider></pc-divider>
      <div class='footer-content'>
        <pc-text class='legal' type='legal' expressive>
          &copy; {new Date().getFullYear()} <goat-link href={site.author_url}>{site.author}</goat-link>. All Rights Reserved.
        </pc-text>
      </div>
    </div>
  </pc-container>

</div>
</Layout>
