---
import Layout from '../../layouts/Default.astro';
const allPosts = await Astro.glob('./posts/*.astro');
import '../../styles/blog.scss';
import site from '../../_data/site.json';
---
<Layout  classes='surface'>
  <div class='main-content'>
    <pc-container class='blog-posts page-container'>
      <pc-text type='heading' heading-size='7'>Blog</pc-text>
      <p class='pc-text-body-large'>News and announcements for all things GOATUI, including new releases</pc-text>

      <pc-divider></pc-divider>

      <div class='post-list'>
        {allPosts.map(async (post: any) => {
          return (
            <div class='item'>
              <pc-text type='heading' heading-size='4'>
                <goat-link href={`${post.url}`} title='{{ post.title }}'>{post.title}</goat-link>
              </pc-text>
              <p class='pc-text-body-large'>{post.description}</pc-text>
              <pc-text color='secondary'>
                Posted on {post.publishedDate}
              </pc-text>
            </div>);
        })}

      </div>
    </pc-container>
    <pc-container>
      <div class='footer container'>
        <pc-divider></pc-divider>
        <div class='footer-content'>
          <pc-text class='legal' type='legal' expressive>
            &copy; {new Date().getFullYear()} <goat-link href={site.author_url}>{site.author}</goat-link>. All Rights Reserved.
          </pc-text>
        </div>
      </div>
    </pc-container>
  </div>
</Layout>
