---
interface Props {
  componentDetails: any;
}

const { componentDetails } = Astro.props;

import Layout from './LayoutComponentBase.astro';
const title = componentDetails.metadata.name;
const overview = componentDetails.metadata.overview ? componentDetails.metadata.overview : componentDetails.metadata.description;
---

<Layout componentDetails={componentDetails}>
  <pc-breadcrumb>
    <pc-breadcrumb-item href="/components">Components</pc-breadcrumb-item>
    <pc-breadcrumb-item href="./">{title}</pc-breadcrumb-item>
    <pc-breadcrumb-item active>API Reference</pc-breadcrumb-item>
  </pc-breadcrumb>

  <div class="comp-header">
    <pc-text class="comp-title heading-scrollable" type="heading" heading-size="6">{title} - API Reference</pc-text>
    {componentDetails.metadata.category == 'Up coming' ? <pc-tag color="red">Work in progress</pc-tag> : ''}
  </div>

  <pc-text type="body" expressive set:html={overview} />

  <div style="margin-bottom: var(--spacing-600)">
    <pc-button size="xs" variant="light.simple" href="./" icon="arrow--left" icon-align="start"> Back </pc-button>
  </div>

  <div class="api-section">
    <pc-text type="heading" heading-size="4">Properties</pc-text>
    <goat-table id="comp-properties" class="table-auto-height" layer="01" paginate="false"></goat-table>
  </div>

  <div class="api-section">
    <pc-text type="heading" heading-size="4">Events</pc-text>
    <goat-table id="comp-events" class="table-auto-height" layer="01" paginate="false"></goat-table>
  </div>

  <div class="api-section">
    <pc-text type="heading" heading-size="4">Methods</pc-text>
    <goat-table id="comp-methods" class="table-auto-height" layer="01" paginate="false"></goat-table>
  </div>

  <div class="api-section">
    <pc-text type="heading" heading-size="4">CSS Custom Properties</pc-text>
    <goat-table id="comp-css-custom-properties" class="table-auto-height" layer="01" paginate="false"></goat-table>
  </div>

  <script is:inline define:vars={{ componentDetails }}>
    const $compProperties = window.document.getElementById('comp-properties');
    // Columns
    $compProperties.columns = [
      {
        name: 'name',
        label: 'Property',
        width: 10,
      },
      {
        name: 'attr',
        label: 'Attribute',
        width: 10,
      },
      {
        name: 'docs',
        label: 'Description',
        width: 28,
        template: function (row, column) {
          if (row[column.name])
            return `<div class='col-text' title='${row[column.name]}'>${row[column.name]
              .split('\n')
              .map(i => `<pc-text>${i}</pc-text>`)
              .join('')}</div>`;
          return '';
        },
      },
      {
        name: 'type',
        label: 'Type',
        width: 18,
        template: function (row, column) {
          if (row[column.name] && row[column.name].includes('|')) {
            const types = row[column.name].split('|');
            const typesHtml = types.map(type => `<pc-tag color='secondary'>${type}</pc-tag>`).join('');
            return `<div class='col-text' style='display: flex; flex-wrap: wrap; gap:.5rem'>${typesHtml}</div>`;
          }
          return `<div class='col-text'>${row[column.name]}</div>`;
        },
      },
      {
        name: 'default',
        label: 'Default',
      },
    ];
    // Data
    $compProperties.data = componentDetails.props;

    const $compEvents = document.getElementById('comp-events');
    // Columns
    $compEvents.columns = [
      {
        name: 'event',
        label: 'Event',
        width: 15,
      },
      {
        name: 'docs',
        label: 'Description',
        width: 25,
      },
      {
        name: 'detail',
        label: 'Type',
      },
    ];
    // Data
    $compEvents.data = componentDetails.events;

    const $compMethods = document.getElementById('comp-methods');
    // Columns
    $compMethods.columns = [
      {
        name: 'name',
        label: 'Name',
        width: 20,
      },
      {
        name: 'docs',
        label: 'Description',
      },
    ];
    // Data
    $compMethods.data = componentDetails.methods;

    const $compCssCustomProperties = document.getElementById('comp-css-custom-properties');
    // Columns
    $compCssCustomProperties.columns = [
      {
        name: 'name',
        label: 'Name',
        width: 20,
        fixed: true,
      },
      {
        name: 'docs',
        label: 'Description',
      },
    ];
    // Data
    $compCssCustomProperties.data = componentDetails.styles;
  </script>
</Layout>
