---
import Layout from '../layouts/Default.astro';
import ComponentCard from '../components/ComponentCard.astro';
import '../styles/components.page.scss';
import componentsDetails from '../_data/componentsDetails.json';

import customElements from '../_data/custom-elements.json';
import Footer from '../components/Footer.astro';
import { getCategoriesTree } from '../_data/getComponentDetails';
import WebComponentCard from '../components/WebComponentCard.astro';
const title = 'Overview';
const description = 'The overview page is the first page you see when you visit the components section of the website. It shows all the components that are available to use in the Goat UI library. It also shows the components that are coming soon.';
---


<Layout title={title} description={description} classes='layer-01'>

  <div class='main-content'>
    <div class='page-wrapper'>
      <pc-container size='max' class='section'>


        <div class='comp-header'>
          <h1 class='comp-title p-text-display heading-scrollable'>{title}</h1>
        </div>


        <div id='search-container'>
          <pc-input id='component-search' layer='01' placeholder='Search'>
            <p-icon slot='start' size='1rem' name='search'></p-icon>
          </pc-input>
        </div>

        <div class='categories'>{
          getCategoriesTree().map((category) => {
            return (
              <goat-link href={`/components/?filter=${category.name.toLowerCase().replace(' ', '-')}`} class='no-style'>
                <pc-tag id={`tag-${category.name.toLowerCase().replace(' ', '-')}`}
                          color='blue'
                          class='category'>{category.name}
                  <p-icon class='selected-icon inherit' name='checkmark'></p-icon>
                </pc-tag>
              </goat-link>);
          })
        }</div>

        <div class='filters hidden'>
          <goat-link href='/components'>
            Remove filter
          </goat-link>
        </div>

        <div class='cards'>
          {
            customElements.modules.filter(module =>
              module.declarations.find(d => d.rawTag),
            ).map((component) => {
              return <WebComponentCard component={component}></WebComponentCard>;
            })
          }
        </div>

        <div class='cards'>
          {
            componentsDetails.components.map((component) => {
              if (component.metadata.name && !component.metadata.childComponent && component.metadata.category != 'Up coming') {
                return (
                  <ComponentCard component={component}></ComponentCard>);
              }
            })
          }
        </div>

        <pc-text class='up-coming-title' type='heading' heading-size='4'>Upcoming</pc-text>

        <div class='cards up-coming'>
          {
            componentsDetails.components.map((component) => {
              if (component.metadata.name && !component.metadata.childComponent && component.metadata.category == 'Up coming') {
                return (
                  <ComponentCard component={component} />);
              }
            })
          }
        </div>

        <script is:inline src='/assets/js/components.page.js'></script>
      </pc-container>

    </div>

    <Footer />

  </div>


</Layout>
