---
import Layout from '../layouts/Default.astro';
import ComponentCard from '../components/ComponentCard.astro';
import '../styles/components.page.scss';
import componentsDetails from '../_data/componentsDetails.json';

import customElementsJSDocs from '../_data/custom-elements-jsdocs.json';
import Footer from '../components/Footer.astro';
import { getCategoriesTree } from '../_data/getComponentDetails';
import WebComponentCard from '../components/WebComponentCard.astro';
const title = 'Overview';
const description = 'The overview page is the first page you see when you visit the components section of the website. It shows all the components that are available to use in the Goat UI library. It also shows the components that are coming soon.';
---


<Layout title={title} description={description} classes='layer-01'>

  <div class='main-content'>
    <div class='page-wrapper'>
      <wc-container size='max' class='section'>


        <div class='comp-header'>
          <h1 class='comp-title text-display heading-scrollable'>{title}</h1>
        </div>


        <div id='search-container'>
          <input-field id='component-search' layer='01' placeholder='Search'>
            <wc-icon slot='start' name='search'></wc-icon>
          </input-field>
        </div>


        <div class='cards'>
          {
            customElementsJSDocs.map((component) => {
              if (component.rawTag == 'breadcrumb-item' || component.rawTag == 'focus-ring'  || component.rawTag == 'skeleton') {
                return;
              }
              return <WebComponentCard component={component}></WebComponentCard>
            })
          }
        </div>

        <pc-text class='up-coming-title' type='heading' heading-size='4'>Old stencil components</pc-text>

        <div class='cards'>
          {
            componentsDetails.components.map((component) => {
              if (component.metadata.name && !component.metadata.childComponent && component.metadata.category != 'Up coming') {
                return (
                  <ComponentCard component={component}></ComponentCard>);
              }
            })
          }
        </div>

        <h2 class='up-coming-title text-headline'>Upcoming</pc-text>

        <div class='cards up-coming'>
          {
            componentsDetails.components.map((component) => {
              if (component.metadata.name && !component.metadata.childComponent && component.metadata.category == 'Up coming') {
                return (
                  <ComponentCard component={component} />);
              }
            })
          }
        </div>

        <script is:inline src='/assets/js/components.page.js'></script>
      </wc-container>

    </div>

    <Footer />

  </div>


</Layout>
