---
import Layout from '../layouts/Default.astro';
import BannerLogo from '../components/BannerLogo.astro';
import site from '../_data/site.json';
import '../styles/index.page.scss';
import Footer from '../components/Footer.astro';

const isProd = import.meta.env.PROD;
let envProps;

if (isProd) {
  envProps = site['prod'];
} else {
  envProps = site['dev'];
}

function jumpingSentence(sentence: string) {
  let len = sentence.length;
  return sentence.split(' ').map((word) => {
    return `<div class='jumping-word'>${word.split('').map((char, index) => {
      if (char === ' ')
        return char;
      return `<h1 style='z-index:${len--};' class='jumping-text'>${char}</h1>`;
    }).join('')}</div>`;
  }).join(' ');
}
---

<Layout root={true}
        classes='surface'
        keywords='web components, button, input, grid, ui library, calendar, table, accordion, select, search, notifications, modal, card, breadcrumb, tree view, tabs, pagination, tooltip, popover, dropdown, menu, slider, toggle, switch, progress bar, spinner, loader, toast, alert, badge, tag, avatar, chip, divider, list, icon, text, heading, paragraph, label, link, image, checkbox, radio, form, form group, form field'>

  <div class='banner surface'>


    <div class='banner-content'>

      <div class="logo-card-container">
        <div class="logo-card">
          <img alt="GOAT UI LOGO" src="/assets/img/logo-plain.png">
          <div class="title"><Fragment set:html={jumpingSentence('Peacock')} /></div>
        </div>
      </div>

      <h1 class='banner-title p-text-display'>
        The foundation for beautiful user interfaces.
      </h1>
      <p class='p-text-headline'>A light weight customisable web component + css library</p>

      <div class='banner-actions '>
        <pc-button href='#getting-started' size='md' color='secondary' icon='arrow--right'>Get
          Started
        </pc-button>
        <pc-button href='/components/' size='md' color='secondary' variant='tonal'>Browse Components</pc-button>
      </div>
    </div>


    <div class='social-icons'>
      <pc-button
        variant='text'
        target='_blank'
        aria-label='Github'
        href={`https://www.github.com/${site.github_username}`}
      >
        <p-icon src='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/icons/github.svg'></p-icon>
      </pc-button>
      <pc-button
        variant='text'
        target='_blank'
        aria-label='Twitter'
        href={`https://x.com/${site.twitter_username}`}
      >
        <p-icon src='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/icons/twitter-x.svg'></p-icon>
      </pc-button>
    </div>

    <div class='made-in-india'>
      <p class='p-text-body-emphasized'>Built by</p>&nbsp;
      <p class='p-text-body-emphasized'>
        <a class='p-link no-decoration' href={site.author_url}>
          <pc-avatar src='/assets/img/avatar.xs.webp' size='1.5rem' />&nbsp;
          {site.author}
        </a>
      </p>
      <p class='p-text-body-emphasized'>.</p>
      <pc-svg class='country-flag' size='1.5rem'
                src='https://cdn.jsdelivr.net/gh/hampusborgos/country-flags@main/svg/in.svg'></pc-svg>
      <p class='p-text-body-emphasized'>Made in India.</p>
    </div>
  </div>


  <div class='sections-wrapper surface-container'>
    <pc-container size='max'>
      <div class='section'>
        <h2 class='p-text-headline'>Introduction</h2>
        <p class='p-text-large'>{site.title} contains most used web components built using Stencil. So you don't need to
          include any additional framework dependencies, You can simply import required
          component js, and right away start using it.
        </p>
        <p class='p-text-large'>Can easily be consumed by any other framework, like Vue, React, Angular, etc.</p>
        <br />
        <p class='p-text-large'>{site.title} components are beautiful Open Source web components under MIT license. They are maintained by
          <a class='p-link' href='https://shivajivarma.com'>Shivaji Varma</a>
          . Do not miss any updates and announcements, stay tuned on our social pages. You can contribute to the project
          by creating pull requests or issues.
        </p>
      </div>

      <div class='section'>
        <h3 class='p-text-headline-small heading-scrollable'id='getting-started'>Getting Started</h3>
        <ul style='padding-inline-start: 1.5rem'>
          <li>
            <pc-text expressive=''>
              Put a script tag similar to this
              <goat-code-highlighter inline><code>&lt;script type="module"
                src="{envProps.script}"&gt;&lt;/script&gt;</code></goat-code-highlighter>
              in the head of your index.html
            </pc-text>
          </li>
          <li>
            <p class='p-text-body-large'>Then you can use the element anywhere in your template, JSX, html etc</p>
          </li>
        </ul>
        <div class='container-code'>
          <pc-tabs>
            <pc-tabs-list>
              <pc-tab>Usage</pc-tab>
              <pc-tab selected='true'>Load single component</pc-tab>
            </pc-tabs-list>

            <pc-tab-panel>
              <goat-code-highlighter language='html' id='get-started-code' class='code-highlighter' />
              <script is:inline define:vars={{ site, envProps }}>
                document.getElementById('get-started-code').value = `<!DOCTYPE html>
                 &lt;html>
                 &lt;head>
                  <meta charset='utf-8'>
                  <meta name='viewport' content='width=device-width'>
                  <title>${site.title}</title>

                  <!-- include your custom theme variable values, view variable names at ${envProps.themeCss} -->
                  <!--link rel="stylesheet" href="/custom-theme.css"></link-->
                   &lt;script type='module' src='${envProps.script}'>&lt;/script>

                      <style>
                    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
                    :root {
                      --font-family-base: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
                    }
                  </style>
                 &lt;/head>

                 &lt;body>

                  <pc-button size='lg' color='primary'>Click me</pc-button>

                 &lt;/body>
                 &lt;/html>`;
              </script>
            </pc-tab-panel>

            <pc-tab-panel>
              <goat-code-highlighter language='html' id='load-single-component-code' class='code-highlighter' />
              <script is:inline define:vars={{ site, envProps }}>
                document.getElementById('load-single-component-code').value = `<!DOCTYPE html>
                 &lt;html>
                 &lt;head>
                  <meta charset='utf-8'>
                  <meta name='viewport' content='width=device-width'>
                  <title>${site.title}</title>

                  <!-- include your custom theme variable values, view variable names at ${envProps.themeCss} -->
                  <!--link rel="stylesheet" href="/custom-theme.css"></link-->
                   &lt;script type='module'>
    import {GoatButton} from "https://cdn.jsdelivr.net/npm/@goatui/components@${envProps.version}/dist/components/pc-button.js";
    customElements.define('my-button', GoatButton);
 &lt;/script>

                      <style>
                    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
                    :root {
                      --font-family-base: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
                    }
                  </style>
                 &lt;/head>

                <body>

                  <my-button size='lg' color='primary'>Click me</my-button>

                 &lt;/body>
                 &lt;/html>`;
              </script>
            </pc-tab-panel>
          </pc-tabs>
        </div>
      </div>

      <div class='section'>
        <pc-button color='secondary' href='/components/' size='lg' variant='block' icon='arrow--right'>Browse
          Components
        </pc-button>
        <br />
        <pc-button color='secondary' href='/theme-creator/' size='lg' variant='ghost.block' icon='arrow--right'>Theme
          Creator
        </pc-button>
      </div>

    </pc-container>




  </div>

  <Footer />

  <script
    src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js'
    integrity='sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=='
    crossorigin='anonymous'
    referrerpolicy='no-referrer'
  ></script>

  <script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
      document.body.addEventListener('mousemove', evt => {
        document.querySelectorAll('.banner-logo .head').forEach(headPath => {
          headPath.style.transform = `rotate(${15 - (evt.clientY / document.body.clientHeight) * 60}deg)`;
          if ((evt.clientX / document.body.clientWidth) * 100 > 50) {
            document.querySelector('.banner-logo').style.transform = ' rotateY(180deg)';
          } else {
            document.querySelector('.banner-logo').style.transform = ' rotateY(0deg)';
          }
        });
      });

      document.querySelectorAll('.jumping-text').forEach((elm, index) => {

        setTimeout(() => {
          elm.classList.add('hover');
          setTimeout(function() {
            elm.classList.remove('hover');
          }, 1800);
        }, 1000 + (20 * index));


        elm.addEventListener('mouseover', () => {
          if (!elm.classList.contains('hover')) {
            elm.classList.add('hover');
            setTimeout(function() {
              elm.classList.remove('hover');
            }, 1800);
          }
        });


      });

      document.querySelector('.title').addEventListener('touchmove', (evt) => {
        // get the touch element
        const touch = evt.touches[0];

        // get the DOM element
        const elm = document.elementFromPoint(touch.clientX, touch.clientY);


        if (!elm.classList.contains('hover')) {
          elm.classList.add('hover');
          setTimeout(function() {
            elm.classList.remove('hover');
          }, 1800);
        }
      }, { passive: true });
    });
  </script>

</Layout>
