---
import site from '../_data/site.json';
interface Props {
  component: any;
}

const {component} = Astro.props;
---

{ component &&
<div class='card-wrapper' data-category={component.metadata.category.toLowerCase().replace(' ', '-')}>
  <goat-card shadow-level='md' class='card'>
    <goat-card-content class='header card-header' data-tag={component.tag}>
      {
        component.metadata.example
          ? <Fragment set:html={component.metadata.example} />
          : <goat-image src={component.metadata.img} dark-src={component.metadata.imgDark}/>
      }
    </goat-card-content>

    <goat-card-content class='body'>

      <pc-text class='component-title' type='heading' heading-size='3'>{component.metadata.name}</pc-text>

      <div class='component-category-container'>
        <goat-link href={`/components/?filter=${component.metadata.category.toLowerCase().replace(' ', '-')}`}>
          <goat-tag color='warning' size='sm' class='category-tag'
                    tag={component.metadata.category}>{component.metadata.category}</goat-tag>
        </goat-link>
      </div>


      <pc-text class='component-description'>{component.metadata.description}</pc-text>

      <pc-button size='sm' color='black' dark-mode-color="white" href={`/components/${component.metadata.name}/#`}  icon="arrow--right">Read more</pc-button>
    </goat-card-content>
  </goat-card>
</div>}
