---
import site from '../_data/site.json';
interface Props {
  component: any;
}

const {component} = Astro.props;
---

{ component &&
<div class='card-wrapper' data-category={component.metadata.category.toLowerCase().replace(' ', '-')}>
  <pc-card shadow-level='md' class='card'>
    <pc-card-content class='header card-header' data-tag={component.tag}>
      {
        component.metadata.example
          ? <Fragment set:html={component.metadata.example} />
          : <goat-image src={component.metadata.img} dark-src={component.metadata.imgDark}/>
      }
    </pc-card-content>

    <pc-card-content class='body'>

      <h3 class='component-title text-headline-small' >{component.metadata.label}</h3>

      <div class='component-category-container'>
        <a href={`/components/?filter=${component.metadata.category.toLowerCase().replace(' ', '-')}`}>
          <pc-tag color='warning' size='sm' class='category-tag'
                    tag={component.metadata.category}>{component.metadata.category}</pc-tag>
        </a>
      </div>


      <p class='text-body component-description'>{component.metadata.description}</p>

      <p-button size='sm' color='dark' dark-mode-color="white" href={`/components/${component.metadata.name}/#`}  icon="arrow--right">Read more</p-button>
    </pc-card-content>
  </pc-card>
</div>}
