---
import { AUTHOR, REPO_URL, PRIVACY_URL, LICENSE_URL, SPONSOR_URL, GITHUB_USERNAME } from '../siteconfig';
import '../styles/footer.scss';
---

<footer class="footer-with-about">

  <section class="about">
      <div class="about-content">
        <h2 class="text-headline section-title">Peacock</h2>
        <p class="text-body-large">Our mission is to empower developers with high-quality, customizable, and accessible web components that promote web standards and best practices.</p>
        <p class="text-body-large">

          Built by&nbsp;<wc-link href={AUTHOR.url} target="_blank">{AUTHOR.name}</wc-link>. Built using&nbsp;<wc-link class="link" href="//lit.dev" target="_blank">Lit</wc-link>.
          Source code on&nbsp;<wc-link class="link" href={REPO_URL} target="_blank">GitHub</wc-link>.
        </p>
      </div>
  </section>

  <nav class="footer-links" aria-label="Footer links">
    <h2 class="text-title-large section-title">Links</h2>
    <ul class="section-nav-links">
      <li><wc-link href={PRIVACY_URL}>Privacy Policy</wc-link></li>
      <li><wc-link href={LICENSE_URL}>License</wc-link></li>
      <li><wc-link href={SPONSOR_URL} target="_blank">Sponsor</wc-link></li>
    </ul>
  </nav>

  <div class="footer-social-links" aria-label="Social links">
    <h2 class="text-title-large section-title">Social</h2>

    <ul class="section-nav-links">
      <li>
        <wc-icon-button
          variant="outlined"
          color="surface"
          href={`https://github.com/${GITHUB_USERNAME}`}
          target="_blank"
          aria-label="GitHub"
        >
          <wc-icon name="logo--github" provider="carbon"></wc-icon>
        </wc-icon-button>
      </li>
      <li>
        <wc-icon-button
          variant="outlined"
          color="surface"
          href={`https://twitter.com/${AUTHOR.twitter}`}
          target="_blank"
          aria-label="X (Twitter)"
        >
          <wc-icon name="logo--x" provider="carbon"></wc-icon>
        </wc-icon-button>
      </li>
    </ul>
  </div>
</footer>
